@import "tailwindcss";

html {
	/* min-height: 100vh; */
	/* min-width: 100vh; */
}

#app {
	/* min-height: 100vh; */
	/* min-width: 100vh; */
}

body {
	/* min-height: 100%; */
	/* min-width: 100%; */
	@apply m-0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media (min-width: 500px) {
	html {
		min-height: 100vh;
		min-width: 100vh;
	}

	#app {
		min-height: 100vh;
		max-height: 100vh;
	}

	body {
		min-height: 100%;
		min-width: 100%;
	}
}

@theme {
	--animate-popout: popout 50ms ease-in-out;

	@keyframes popout {
		0%,
		100% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.15);
		}
	}
}
